#viewall {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  display: block;
  overflow: scroll;
  white-space: nowrap;
}

#viewall td, #viewall th {
  border: 1px solid #ddd;
  padding: 8px;
}

#viewall tr:nth-child(even){background-color: #f2f2f2;}

#viewall tr:hover {background-color: #7182C1; color: black;}

#viewall th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}